{% extends 'principal.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Gestão</h1>
    <p class="lead">Escolha uma das opções abaixo para começar:</p>
    <div class="mt-4">
        <a href="#" class="btn btn-primary btn-lg mx-2">Cadastrar Vítima</a>
        <a href="#" class="btn btn-success btn-lg mx-2">Cadastrar Voluntário</a>
        <a href="#" class="btn btn-warning btn-lg mx-2">Cadastrar Abrigo</a>
    </div>
</div>
{% endblock %}

